@import '../../../scss/smart-grid.sass';
@import '../../../scss/vars.scss';

.layout{
  // border: 1px solid red;
}

.header{
  // border: 1px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__title{
    font-family: OpenSans-Bold, sans-serif;
    font-size: 2rem;
    color: #404064;

    margin: 0;

    @include sm(font-size, 1.5rem);
    @include xs(line-height, 1.5);
  }
}

.userData{
  background-color: white;

  padding: 1.75rem;
  margin: 1.5rem 0 0 0;

  &__item{
    display: flex;
    align-items: center;
    margin: .8rem 0;

    @include sm(justify-content, space-between);
  }

  &__label{
    font-family: OpenSans-Regular, sans-serif;
    font-size: .8rem;
    color: #999999;
    width: 25%;
    margin: 0;

    @include sm(width, auto);
  }

  &__inp{
    width: 32%;
    margin: 0;

    @include sm(min-width, 60%);
  }
}