@import '../../../scss/smart-grid.sass';
@import '../../../scss/vars.scss';


//styles for modify component

.counter{
  align-self: center;
  transform: translateY(80%);

  @include xs(transform, none);
}

.layout{

  & > * {
    margin: 1rem 0;

    &:first-child{
      margin-top: 0;
    }

    &:last-child{
      margin-bottom: 0;
    }
  }
  
}