@import '../../scss/smart-grid.sass';
@import '../../scss/vars.scss';

.header{
  width: 100%;
  background-color: white;
  box-shadow: 0px .1vw .5vw rgba(104, 121, 187, 0.1);

	padding: 1rem 1.5rem;
	
	& > div{
		display: inline-block;
	}
}

.content{
  
}

.btnMenu{
	// border: 1px solid red;
  display: flex;
	align-items: center;
	justify-content: flex-start;
  cursor: pointer;

  & > img{
    width: 1.2rem;

    @include xs(width, 24px);
  }

  & > p {
		// border: 1px solid blue;
    font-family: OpenSans-Regular;
    font-size: 1rem;
    margin: 0 0 0 .5rem;

    @include xs-block{
      font-size: 16px;
      margin-left: 10px;
    }
	}
	
	&_invisible{
		opacity: 0;
	}

	&_opened{
		// border: 1px solid red;
		background-color: #535374;
		width: 100%;

		padding: 1rem 1.5rem;

		& > p {
			color: white;
		}
	}
}

.badRequest{
  font-family: OpenSans-Regular, sans-serif;
  padding: 30px;
  font-size: 24px;
  text-align: center;
  line-height: 1.5;
}