@import '../../../../scss/smart-grid.sass';
@import '../../../../scss/vars.scss';

//page styles
.pageWrapper{	
  // border: 1px solid red;  
  position: relative;
  background: $mainBg;
  width: 100%;
  min-height: 100%;
}