@import './smart-grid.sass';
@import './vars.scss';
@import '_fonts';

*{
  box-sizing: border-box;
}

html{
  font-size: 20px;

  @media screen and (max-width: 1366px){
    font-size: 16px;
  }
}

menu, h1, h2, ul, li{
	margin: 0;
	padding: 0;	
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
	color: inherit;
}

// .noselect {
//   -webkit-touch-callout: none; /* iOS Safari */
//     -webkit-user-select: none; /* Safari */
//      -khtml-user-select: none; /* Konqueror HTML */
//        -moz-user-select: none; /* Firefox */
//         -ms-user-select: none; /* Internet Explorer/Edge */
//             user-select: none; /* Non-prefixed version, currently
//                                   supported by Chrome and Opera */
// }

body{
  position: relative;
  background-color: $mainBg;
  min-height: 100vh;
}

.container{
  @include wrapper();
  
  @media screen and (min-width: 1921px){
    max-width: 62.5%;
    padding: 0;
  }
}

.swiper-button-prev{
  width: 6vw;
  @include sm-block{
    font-size: 6vw !important;
  }
}