$br: 5px; //border-radius
$br1921: .25vw;
$lb: #fff; //layouts background
$lk: rgba(30, 63, 209, 0.925); //link color
$hlk: rgba(0, 0, 255, 1); //hover link color
$border: #36aeea; //for exmp: btn
$borderSoft: #36aeea8f;
$wrong: rgba(221, 14, 14, 0.6); //for exmp: to del btn
$wrongSoft: rgba(221, 14, 14, 0.2);
$inactive: rgb(219, 219, 219);
$menuBg: rgba(109, 109, 223, 0.8); //bg for menu items
